@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Lato|PT+Sans);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

section {
  margin: auto;
  max-width: 250px;
}
form input {
  display: block;
  margin-bottom: 10px;
}

.main_wrapper {
	width: 80%;
	margin: 0 auto 0 auto;
	padding: 5px;
	background-color: #fffdf7;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
}